---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Books"
  description="Textbooks"
  pubDate={new Date()}
  heroImage={null}
>
	<p>
		<h1>Managerial Economics by Matthew Metzgar, PhD</h1>
	</p>

	<p>
		Learn managerial economics with current real-world content that connects with today’s students. This textbook starts with the value creation philosophy of Peter Drucker and ends with the long-term challenge of business sustainability. Along the way, students will learn how to successfully apply economics to managerial decisions across a variety of situations.
	</p>

	<p>
		 <!-- Book cover -->
  <!-- Book cover, fixed to 100px wide -->
  <div class="flex justify-center mb-8">
    <img
      src="/ManagerialEconomicsCover.jpg"
      alt="Cover of Managerial Economics"
      class="w-[100px] rounded-lg shadow-md"
    />
  </div>
	</p>

	<p>
		
	</p>

	<p>
		
		
	</p>
</Layout>
